@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --background-primary: #fff;
    --background-secondary: linear-gradient(45deg, #bebebe, #eee, #d2d2d2);
    --buttons: #09930a;
    --text: #000;
    --title-header: #bd898a;
    --button-secondary: #00ceff;
    --text-secondary: #0c7e99;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%; /*Tamanho de fonte padrão 10px */
}

html, body{
    height: 100%;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0.6rem;
}

::-webkit-scrollbar-thumb{
    background-color: #bebebe;
    border-radius: .3rem;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    position: relative;
    background-image: url('../img/bg-hormone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #bg-header{
    width: 100%;
    object-fit: cover;
}

header .top{
    text-align: center;
    padding-bottom: 3rem;
}

header .content{
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

header .content .title{
    width: max-content;
    margin: auto;
    font-size: 3rem;
    color: var(--title-header);
    border-bottom: .4rem solid var(--buttons);
    margin-bottom: 3rem;
}

header .content .sub-title{
    font-size: 3rem;
    font-weight: 300;
    color: var(--text);
    margin-bottom: 2rem;
}

header .content .sub-title span{
    font-weight: 400;
}

header .content .btn{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-primary);
    padding: 1rem 4rem;
    background-color: var(--buttons);
    border-radius: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    width: 100vw;
    background-color: var(--background-primary);
}

.section{
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, .2fr));
    grid-gap: calc(2rem + 5vw);
    justify-content: center;
    margin-bottom: 3rem;
}

.benefit h2 {
    color: var(--buttons);
    font-size: calc(1rem + .5vw);
    margin: 10px 0;
}

.benefit p {
    font-size: 1.25rem;
}

.section .btn{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--background-primary);
    padding: 1rem 4rem;
    margin-top: 10px;
    background-color: var(--buttons);
    border-radius: 2rem;
}

.section h2 {
    margin: 3rem 0;
}

.benefits {
    display: flex;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.about .clinic{
    display: flex;
}

.about .clinic .wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.about .clinic .wrapper .about-title{
    font-size: 1.8rem;
    font: 400;
    color: var(--background-primary);
    padding: .2rem .5rem;
    background-color: var(--button-secondary);
    border-radius: 2rem;
    margin-top: 1rem;
}

.about .clinic .wrapper .about-subtitle{
    font-size: 3.5rem;
    color: var(--buttons);
    margin-bottom: 3rem;
}

.about .clinic .wrapper .about-text{
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 5rem;
}

.about .clinic .wrapper .about-text span{
    font-weight: 500;
}

.about .clinic .wrapper .btn{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-primary);
    padding: 1rem 4rem;
    background-color: var(--buttons);
    border-radius: 2rem;
}

.about .clinic .woman{
    width: 100%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}

footer .wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    column-gap: 4rem;
}

footer .wrapper .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

footer .wrapper .contact .text{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-secondary);
    white-space: nowrap;
}

footer .wrapper .contact .btn{
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--background-primary);
    white-space: nowrap;
    background-color: var(--text-secondary);
    border-radius: 2rem;
}

footer .wrapper .divider{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: .8rem;
    border-radius: 1rem;
    background-color: var(--text-secondary);
}

footer .wrapper .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

footer .wrapper .social .whatsapp,
footer .wrapper .social .location,
footer .wrapper .social .instagram,
footer .wrapper .social .facebook{
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer .wrapper .social .whatsapp img,
footer .wrapper .social .intagram img,
footer .wrapper .social .facebook img{
    height: 4rem;
    width: 4rem;
}

footer .wrapper .social .location img{
    height: 4rem;
    width: 2rem;
}

footer .wrapper .social .whatsapp span{
    font-size: 1.6rem;
    white-space: nowrap;
    font-weight: 700;
}

footer .wrapper .social .location span,
footer .wrapper .social .instagram span,
footer .wrapper .social .facebook span{
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: 500;
}

/*
.footer .social .text{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-secondary);
}

.footer .social .btn{
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--background-primary);
    background-color: var(--text-secondary);
    border-radius: 2rem;
}
*/
 