@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --background-primary: #fff;
    --buttons: #00CEFF;
    --text: #000;
    --title-header: #0C7E99;
    --button-secondary: #00ceff;
    --text-secondary: #0c7e99;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%; /*Tamanho de fonte padrão 10px */
}

html, body{
    height: 100%;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar{
    width: 0.6rem;
}

::-webkit-scrollbar-thumb{
    background-color: #bebebe;
    border-radius: .3rem;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    position: relative;
    background-image: url('../img/bg-hormone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #bg-header{
    width: 100%;
    object-fit: cover;
}

header .top{
    text-align: center;
    padding-bottom: 3rem;
}

.logo {
    width: 100%;
}

header .content{
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

header .content .title{
    width: max-content;
    margin: auto;
    font-size: 3rem;
    color: var(--title-header);
    margin-bottom: 3rem;
}

header .content .title span {
    text-align: center;
    border-bottom: .4rem solid var(--buttons);
}

header .content .sub-title{
    font-size: 3rem;
    font-weight: 300;
    color: var(--text);
    margin-bottom: 2rem;
}

header .content .sub-title span{
    font-weight: 400;
}

header .content .btn{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-primary);
    padding: 1rem 4rem;
    background-color: var(--buttons);
    border-radius: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    width: 100vw;
    background-color: var(--background-primary);
}

.section{
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, .2fr));
    grid-gap: calc(2rem + 5vw);
    justify-content: center;
    margin-bottom: 3rem;
}

.benefit h2 {
    color: var(--buttons);
    font-size: calc(1rem + .5vw);
    margin: 10px 0;
}

.benefit p {
    font-size: 1.25rem;
}

.section .btn{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--background-primary);
    padding: 1rem 4rem;
    margin-top: 10px;
    background-color: var(--buttons);
    border-radius: 2rem;
}

.section-title {
    margin: 3rem 0;
    font-size: 3rem;
    color: var(--buttons);
}

.feedbacks {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 3rem;
}

.slideshow-container {
    display: none;
}

.contact-btn{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-primary);
    padding: 1rem 4rem;
    margin-top: 10px;
    background-color: var(--buttons);
    border-radius: 1rem;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #BEBEBE 0%, #EEEEEE 50%, #D2D2D2 100%);
}

.about .clinic{
    display: flex;
    width: 100%;
    position: relative;
}

.about .clinic .wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-left: 20rem;
    padding: 4rem;
}

.about .clinic .wrapper .about-title{
    font-size: 1.8rem;
    font: 400;
    color: var(--background-primary);
    padding: .2rem .5rem;
    background-color: var(--button-secondary);
    border-radius: 2rem;
}

.about .clinic .wrapper .about-subtitle{
    font-size: 3.5rem;
    color: var(--buttons);
}

.about .clinic .wrapper .about-text{
    font-size: 2rem;
    font-weight: normal;
}

.about .clinic .wrapper .about-text span{
    font-weight: 500;
}

.about .clinic .wrapper .btn{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background-primary);
    padding: 1rem 4rem;
    background-color: var(--buttons);
    border-radius: 2rem;
    cursor: pointer;
    z-index: 10;
}

.about .clinic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 25rem;
} 

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-inline: 1rem;
    padding-bottom: 3rem;
}

footer .wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    column-gap: 4rem;
}

footer .wrapper .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

footer .wrapper .contact img {
    width: 100%;
}

footer .wrapper .contact .text{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-secondary);
    white-space: nowrap;
}

footer .wrapper .contact .btn{
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--background-primary);
    white-space: nowrap;
    background-color: var(--text-secondary);
    border-radius: 2rem;
}

footer .wrapper .divider{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: .8rem;
    border-radius: 1rem;
    background-color: var(--text-secondary);
}

footer .wrapper .social{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

footer .wrapper .social .whatsapp,
footer .wrapper .social .location,
footer .wrapper .social .instagram,
footer .wrapper .social .facebook{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #000000;
}

footer .wrapper .social .whatsapp img,
footer .wrapper .social .intagram img,
footer .wrapper .social .facebook img{
    height: 4rem;
    width: 4rem;
}

footer .wrapper .social .location img{
    width: 2rem;
    margin-left: .8rem;
}

footer .wrapper .social .whatsapp span{
    font-size: 1.6rem;
    white-space: nowrap;
    font-weight: 700;
    margin-left: 2rem;
}

footer .wrapper .social .location span,
footer .wrapper .social .instagram span,
footer .wrapper .social .facebook span{
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: 500;
    margin-left: 2rem;
}

footer .wrapper .social .location span {
    margin-left: 3.2rem;
}
 
@media (max-width: 1200px) {
    header .content .title, header .content .sub-title, .section-title {
        font-size: calc(1.5rem + .5vw);
    }

    .feedbacks {
        display: none;
    }

    /* Slideshow container */
    .slideshow-container {
        display: block;
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
  
    /* Hide the images by default */
    .mySlides {
        display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #afafaffc;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .prev {
        left: 0;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #afafaffc;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    .about .clinic img {
        display: none;
    }

    .about .clinic .wrapper .about-title {
        font-size: 1.4rem;
    }

    .about .clinic .wrapper .about-subtitle {
        white-space: nowrap;
        font-size: calc(2rem + .5vw);
    }

    .about .clinic .wrapper .about-text {
        font-size: 1.5rem;
        font-weight: normal;
        white-space: nowrap;
    }

    .about .clinic .wrapper {
        margin: 0 auto;
        width: 100%;
    }

    .about .clinic .wrapper .btn {
        font-size: 1rem;
    }

    footer .wrapper {
        grid-template-columns: repeat(1, minmax(20rem, 1fr));
    }

    footer .wrapper .divider {
        height: .8rem;
        width: 100%;
        margin: 3rem 0;
    }
}

@media (max-width: 550px) {
    .benefits {
        grid-template-columns: repeat(1, minmax(15rem, .2fr));
    }
}

@media (max-width: 460px)  {
    header .content .title, header .content .sub-title, .section-title {
        font-size: calc(1rem + .5vw);
    }

    header .content .btn {
        font-size: 1rem;
    }

    .benefit p {
        font-size: 1.2rem;
    }

    .section .btn {
        font-size: 1rem;
    }
}